<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<h2>Posts</h2>
<% @posts.each do |post| %>
  <div>
    <p><%= post.content %></p>
    <p><%= post.created_at.strftime("%b %d, %Y") %></p>
    <p><%= post.likes.count %> likes</p>
  </div>
  <hr>
<% end %>